.contact-details {
  border-radius: 10.165px;
  border: 0.635px solid $hover-color;
  width: 100%;
  height: max-content;
  margin-bottom: 20px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    gap: 20px;

    &__heading {
      color: $tertiary-text-color;
      font-family: $archivo-font;
      font-size: $font-size-sm;
      font-style: $font-style-normal;
      font-weight: $medium-font-weight;
      line-height: 12.706px;
    }

    &__tagline {
      text-align: start;
      color: $tertiary-text-color;
      font-family: $archivo-font;
      font-size: $font-size-xs;
      font-style: $font-style-normal;
      font-weight: $normal-font-weight;
      line-height: 17.629px;
    }
  }
}
