.listing-detail-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  justify-content: start;
  text-align: start;
  margin-bottom: 20px;

  &__heading {
    color: $tertiary-text-color;
    font-family: $archivo-font;
    font-size: $headings-font-size;
    font-style: $font-style-normal;
    font-weight: $bold-font-weight;
    line-height: 20.182px;
  }

  &__container {
    width: 100%;
    min-width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;

    @include breakpoint($medium-screen) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 40px;
    }

    &__details {      
      display: flex;
      flex-direction: column;
      gap: 10px;

      @include breakpoint($medium-screen) {
        min-width: 360px;
      }

      &__detail {
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 10px;
        margin-bottom: 8px;
      }
      &__item,
      &__value {
        color: $tertiary-text-color;
        font-family: $archivo-font;
        font-size: $font-size-sm;
        font-style: $font-style-normal;
        font-weight: $medium-font-weight;
        line-height: 21.54px;
      }
    }
  }
}
