.contact-detail-info {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;

    &__heading {
      color: $light-text-color;
      font-family: $archivo-font;
      font-size: $font-size-sm;
      font-style: $font-style-normal;
      font-weight: $medium-font-weight;
      line-height: 11.435px;
    }

    &__tagline {
      text-align: start;
      color: $tertiary-text-color;
      font-family: $archivo-font;
      font-size: $font-size-sm;
      font-style: $font-style-normal;
      font-weight: $normal-font-weight;
      line-height: 17.629px;
    }
  }
  &::before {
    content: "";
    display: inline-block;
    min-width: 23px;
    min-height: 24px;
    width: max-content;
    height: max-content;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.address {
  &::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='14' viewBox='0 0 13 14' fill='none'%3E%3Cg clip-path='url(%23clip0_1_4684)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.39999 1.31006C3.65475 1.31006 1.41028 3.58749 1.41028 6.42056C1.41028 7.84915 1.98168 9.43122 2.91666 10.653C3.85405 11.8779 5.09475 12.6659 6.39999 12.6659C7.70525 12.6659 8.94592 11.8779 9.88336 10.653C10.8183 9.43122 11.3897 7.84915 11.3897 6.42056C11.3897 3.58749 9.14521 1.31006 6.39999 1.31006ZM0.37793 6.42056C0.37793 3.03856 3.0636 0.27771 6.39999 0.27771C9.73635 0.27771 12.4221 3.03856 12.4221 6.42056C12.4221 8.09951 11.7609 9.89822 10.7032 11.2803C9.64785 12.6593 8.1356 13.6983 6.39999 13.6983C4.66441 13.6983 3.15216 12.6593 2.09682 11.2803C1.03907 9.89822 0.37793 8.09951 0.37793 6.42056Z' fill='%23050B20'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.16309 5.95576C4.16309 4.72043 5.16454 3.71899 6.39985 3.71899C7.63516 3.71899 8.63664 4.72043 8.63664 5.95576C8.63664 7.19109 7.63516 8.1925 6.39985 8.1925C5.16454 8.1925 4.16309 7.19109 4.16309 5.95576ZM6.39985 4.75135C5.73468 4.75135 5.19544 5.29058 5.19544 5.95576C5.19544 6.62091 5.73468 7.16015 6.39985 7.16015C7.06505 7.16015 7.60428 6.62091 7.60428 5.95576C7.60428 5.29058 7.06505 4.75135 6.39985 4.75135Z' fill='%23E1E1E1'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_4684'%3E%3Crect width='12.7059' height='13.9765' fill='white' transform='translate(0.046875 -0.000244141)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  }
}

.email {
  &::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='15' viewBox='0 0 16 15' fill='none'%3E%3Cg clip-path='url(%23clip0_1_4693)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.51725 8.04352C7.05679 8.04352 6.59779 7.89137 6.21372 7.58719L3.12698 5.09854C2.90468 4.9196 2.87027 4.59407 3.04852 4.37246C3.22815 4.15153 3.553 4.11643 3.77461 4.29468L6.85858 6.78056C7.24611 7.08753 7.79182 7.08753 8.18209 6.77783L11.2351 4.29606C11.4567 4.11505 11.7815 4.14947 11.9619 4.37108C12.1415 4.592 12.1078 4.91685 11.8869 5.09717L8.82831 7.58306C8.44154 7.89004 7.97904 8.04352 7.51725 8.04352Z' fill='%23E1E1E1'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.8767 12.5416C10.878 12.5402 10.8836 12.5416 10.8877 12.5416C11.673 12.5416 12.3695 12.2608 12.9035 11.7274C13.5237 11.11 13.8643 10.2229 13.8643 9.22979V4.50297C13.8643 2.58073 12.6076 1.18567 10.8767 1.18567H4.11959C2.38868 1.18567 1.13196 2.58073 1.13196 4.50297V9.22979C1.13196 10.2229 1.47332 11.11 2.09274 11.7274C2.62681 12.2608 3.32399 12.5416 4.10858 12.5416H10.8767ZM4.10652 13.5739C3.04456 13.5739 2.09618 13.1885 1.3639 12.459C0.548339 11.6455 0.0996094 10.4989 0.0996094 9.22979V4.50297C0.0996094 2.02326 1.82777 0.15332 4.11959 0.15332H10.8767C13.1685 0.15332 14.8967 2.02326 14.8967 4.50297V9.22979C14.8967 10.4989 14.4479 11.6455 13.6324 12.459C12.9008 13.1878 11.9517 13.5739 10.8877 13.5739H4.10652Z' fill='%23050B20'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_4693'%3E%3Crect width='15.2471' height='13.9765' fill='white' transform='translate(0.046875 0.0471191)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  }
}
.phone {
  &::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='17' viewBox='0 0 17 17' fill='none'%3E%3Cpath d='M14.9842 7.14595C14.7248 7.14595 14.5018 6.95116 14.4722 6.68758C14.2106 4.36411 12.4054 2.56093 10.0819 2.30284C9.79901 2.27119 9.59464 2.01654 9.62628 1.73298C9.65728 1.45012 9.91121 1.23883 10.1961 1.27737C13.0021 1.58846 15.1824 3.76603 15.4976 6.57196C15.53 6.85555 15.3256 7.11081 15.0427 7.14251C15.0234 7.14455 15.0035 7.14595 14.9842 7.14595Z' fill='%23E1E1E1'/%3E%3Cpath d='M12.5473 7.15343C12.3051 7.15343 12.0896 6.98272 12.0415 6.73636C11.8433 5.71775 11.058 4.93248 10.0407 4.73495C9.76065 4.68058 9.57826 4.41011 9.63264 4.12999C9.68702 3.84988 9.96439 3.6675 10.2376 3.72187C11.6698 3.99992 12.7758 5.10523 13.0545 6.53814C13.1089 6.81894 12.9265 7.08939 12.6471 7.14377C12.6134 7.15 12.5803 7.15343 12.5473 7.15343Z' fill='%23E1E1E1'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.19623 11.4796C8.43988 14.724 10.5996 15.5747 11.9637 15.5747C12.6368 15.5747 13.1172 15.3675 13.4372 15.1376C13.4517 15.1293 14.9327 14.2237 15.1922 12.8527C15.3147 12.2092 15.1358 11.5726 14.676 11.011C12.782 8.71159 11.8171 8.92632 10.7517 9.44453C10.0972 9.76522 9.5803 10.0144 8.12059 8.55601C6.66163 7.09648 6.91334 6.57954 7.23194 5.92514C7.75084 4.85976 7.96437 3.89462 5.66423 1.99922C5.10401 1.54155 4.47151 1.3626 3.8287 1.48304C2.4777 1.73563 1.56785 3.19262 1.56785 3.19262C0.843826 4.20915 0.35243 6.63653 5.19623 11.4796ZM4.0393 2.49338C4.09987 2.48374 4.15974 2.47823 4.21893 2.47823C4.48872 2.47823 4.74888 2.58353 5.00834 2.79689C6.86315 4.32475 6.62847 4.80653 6.30361 5.47342C5.81564 6.47617 5.56031 7.45485 7.39038 9.28621C9.22244 11.1176 10.2018 10.8623 11.2032 10.3729L11.2048 10.3721C11.8709 10.0484 12.3525 9.81433 13.8783 11.6669C14.1392 11.9848 14.239 12.3028 14.1826 12.638C14.0525 13.4088 13.1564 14.0991 12.8852 14.267C11.9141 14.9594 9.57617 14.3998 5.92576 10.7501C2.27673 7.10042 1.71651 4.76249 2.43365 3.75422C2.57681 3.52091 3.26986 2.62345 4.0393 2.49338Z' fill='%23050B20'/%3E%3C/svg%3E");
  }
}
