.auction-sheet-form-main {
  display: flex;
  flex-direction: column;
  max-width: 598px;
  min-height: 258px;
  border-radius: 20px;
  border: 0.75px solid #E6E6E6;
  background: $white-color;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  margin: 0px 17px; 
  padding: 20px; 
  top: -90px;
  
  &__container {
    display: flex;
    justify-content: center;
  }

  &__heading {
    color: #474748;
    text-align: center;
    font-family: $archivo-font;
    font-size: $font-size-xl;
    font-style: $font-style-normal;
    font-weight: $bold-font-weight;
    line-height: 26.995px; 
    text-transform: capitalize;
  }

  &__paragraph {
    color: #434343;
    text-align: center;
    font-family: $archivo-font;
    font-size: 14.247px;
    font-style: $font-style-normal;
    font-weight: $normal-font-weight;
    line-height: 20.358px;
  }

  &__input {
    width: 100%;
    padding: 11.623px 14.247px;
    color: $hint-color;
    font-family: $archivo-font;
    font-size: 12px;
    font-style: $font-style-normal;
    font-weight: $normal-font-weight;
    line-height: $normal-line-height;
  }

  &__button {
    border-radius: 3.749px;
    border: 0.75px solid $black-color;
    background: $black-color;
    color: $white-color;
    padding: 10px;
    width: 100%; 
    min-height: 33px;
  }
}
