.vehicle-feature {
    height: 100%;
    width: 100%;
    padding: 20px;
    background-color: $white-color;
    border-radius: 10px 0 0 0;
  }
  
.my-vehicle-feature {
  height: auto !important;
  margin-bottom: 20px;
  min-height: 30%;
}