@import "./assets/scss/global.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: $archivo-font;
  scroll-behavior: smooth;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  @include breakpoint($medium-screen) {
    padding: 10px;
  }
}

button {
  font-family: $archivo-font;
  font-size: $font-size-sm;
  font-style: $font-style-normal;
  font-weight: $medium-font-weight;
  line-height: $normal-line-height;
  border: none;
  cursor: pointer;
}

a {
  font-family: $archivo-font;
  font-size: $font-size-sm;
  font-style: $font-style-normal;
  font-weight: $medium-font-weight;
  cursor: pointer;
}

h2 {
  color: $primary-text-color;
  font-family: $archivo-font;
  font-size: $headings-font-size;
  font-style: $font-style-normal;
  font-weight: $bold-font-weight;
  line-height: normal;

  @include breakpoint($medium-screen) {
    font-size: $headings-font-size-lg;
  }

  @include breakpoint($large-screen) {
    font-size: $headings-font-size-xl;
  }
}

.tagline {
  max-width: 594px;
  color: $light-text-color;
  font-family: $archivo-font;
  font-size: $font-size-xs;
  font-style: normal;
  font-weight: $normal-font-weight;
  line-height: 20px;

  @include breakpoint($medium-screen) {
    font-size: $font-size-sm;
  }
}

.dark-button {
  display: inline-flex;
  padding: 12px 27px 12px 28px;
  font-size: $font-size-xs;
  justify-content: center;
  align-items: center;
  border-radius: 9.11px;
  background: $black-color;
  transition: all 0.3s ease;

  color: $white-color;
  text-align: center;
  font-family: $archivo-font;
  font-style: $font-style-normal;
  font-weight: $medium-font-weight;
  line-height: normal;

  @include breakpoint($medium-screen) {
    padding: 17px 33px 16px 34px;
    font-size: $font-size-sm;
  }

  &:hover {
    color: $white-color;
    background: $dark-button-hover-color;
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
/* Remove spinner (arrows) from number inputs */
input[type="number"] {
  -moz-appearance: textfield;  /* Firefox */
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;  /* Chrome, Safari, Edge */
  margin: 0;
}